﻿<%@ Master Language="C#" MasterPageFile="../_Section.master" %>

<asp:Content ContentPlaceHolderID="head" Runat="Server">
	<script type="text/javascript">
		$(document).ready(function () { $('a#Specialty').addClass("Active"); });
  </script>
	<asp:ContentPlaceHolder ID="head" runat="server" />
</asp:Content>
<asp:Content ContentPlaceHolderID="background_image" Runat="Server">
	<asp:ContentPlaceHolder ID="background_image" runat="server" />
</asp:Content>
<asp:Content ContentPlaceHolderID="main_title" Runat="Server">
	<asp:ContentPlaceHolder ID="main_title" runat="server" />
</asp:Content>
<asp:Content ContentPlaceHolderID="main_details" Runat="Server">
	<asp:ContentPlaceHolder ID="main_details" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderID="section_submenu" Runat="Server">
	<div class="SectionNavSubMenu">
		<h2>Specialty RV Insurance</h2>
		<table>
			<tr>
				<td>
					<ul>
						<li><a id="Overview" href="Default.aspx">Overview</a></li>
						<li><a id="Total-Loss-Replacement-Coverage" href="Total-Loss-Replacement-Coverage.aspx">Total Loss Replacement</a></li>
						<li><a id="Diminishing-Deductible" href="Diminishing-Deductible.aspx">Diminishing Deductible</a></li>
						<li><a id="Personal-Effects" href="Personal-Effects.aspx">Personal Effects</a></li>
						<li><a id="Full-Timer" href="Full-Timer.aspx">Full Timer RV Insurance</a></li>
						<li><a id="Vacation-Liability" href="Vacation-Liability.aspx">Vacation Liability</a></li>
						<li><a id="Emergency-Expense" href="Emergency-Expense.aspx">Emergency Expense</a></li>
					</ul>
				</td>
				<td valign="top">
					<ul>
						<li><a id="Purchase-Price-Guarantee" href="Purchase-Price-Guarantee.aspx">Purchase Price Guarantee</a></li>
						<li><a id="Awning-Replacement" href="Awning-Replacement.aspx">Awning Replacement</a></li>
						<li><a id="Scheduled-Medical-Payments" href="Scheduled-Medical-Payments.aspx">Scheduled Medical Payments</a></li>
						<li><a id="Adjacent-Structures" href="Adjacent-Structures.aspx">Adjacent Structures</a></li>
						<li><a id="Agreed-Value" href="Agreed-Value.aspx">Agreed Value</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</asp:Content>
