﻿.items {
	margin-top: 0px;
	margin-left: -40px;
	height: 300px;
	text-align: left;
}
	.items ul {
		list-style-type: none;
		list-style-image: url('../images/claims_arrow.jpg');
	}
	.items li {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	.items li a {
		font-family: "myriad-pro-1","myriad-pro-2","Arial",sans-serif;
		font-size: 15px;
		font-weight: normal;
		text-decoration: underline;
		color: #3186a9;
	}
	.items li a:hover {
		color: #003e7e;
	}

/* Top Section Menu */
div#SectionNavMenu {
	background: #7ca7c3;
	position: absolute;
	-moz-box-shadow: 2px 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 2px 1px #888;
	box-shadow: 2px 2px 2px 1px #888;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: solid #fff 2px;
	text-align: center;
	left: 8px;
	top: 8px;
	z-index: 200;
}

div#SectionNavMenu div {
	float: left;
}

div#SectionNavMenu a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: 5px;
	display: block;
	border: solid #7ca7c3 2px;
	margin: 4px;
	white-space: nowrap;
	font-weight: bold;
}
div#SectionNavMenu a.Active, div#SectionNavMenu a:hover {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 4px;
	border: solid #164264 2px;
	background: #1a77a2;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
}


/* Coverages Menu */
div.SectionNavSubMenu {
	background: #7ca7c3;
	-moz-box-shadow: 2px 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 2px 1px #888;
	box-shadow: 2px 2px 2px 1px #888;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: solid #fff 2px;
	z-index: 200;
	margin: 20px 0px 20px -30px;
	width: 530px;
}
div.SectionNavSubMenu h2 {
	color: #fff;
	margin: 0;
	padding: 0;
	padding-top: 14px;
	padding-left: 14px;
	text-shadow: #888 1px 1px;
	font-size: 24px;
	font-family: "myriad-pro-1","myriad-pro-2","Arial Narrow",sans-serif;
}


div.SectionNavSubMenu a {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
	text-align: left;
	white-space: nowrap;
	line-height: 20px;
	font-size: 14px;
}
div.SectionNavSubMenu a:hover {
	color: #003e7e;
	text-decoration: none;
}
div.SectionNavSubMenu a.Active{
	text-decoration: none;
	color: #003e7e;
	font-weight: bold;
}

div.SectionNavSubMenu td {
	width: 50%;
}

div.SectionNavSubMenu ul {
	list-style-type: square;
	color: #666;
}

div.SectionNavSubMenu li {
	margin-top:0px;
	margin-bottom:5px;
	margin-left: 15px;
}
