﻿/* only add css elements to make IE6 work*/
/* not all elements from the main style sheet are required*/


.home_logo 
{
	z-index:999;
}

.home_logo a
{
	position:relative;
	left:12px;
	top:10px;
	width:117px;
	height:89px;
	background-image: url('../images/bluesky_logo.jpg');	
	background-repeat:no-repeat;
	z-index:999;
	display:block	
}

.vehicle_pic 
{
	position:absolute;
	top:2px;
	left:555px;
	width:420px;
	height:320px;
	display:block;	
}

h1 
{
	padding-top:10px;
	margin:0px;
}

h2 
{
	font-size: 18px;
}

.company_text 
{
	position:absolute;
	top:110px;
	left:50px;
	width:380px;
	font-family: Palatino Linotype, Arial;
	font-size: 13px;	
	text-decoration: none;
	color: #707070;	
	text-align:justify;	
	padding: 10px 0px 0px 0px; /*top-right-bottom-left*/
	line-height:13px;	
}

.bluesky_pic 
{
	position:absolute;
	display:block;
	left:458px;
	top:0px;
}

.menu_bg 
{
	position:absolute;
	left:0px;
	top:56px;
	width:987px;
	height:57px;
	background-image: url('../images/menu_bg.jpg');	
	background-repeat:no-repeat;
	z-index:990;
}