﻿.background_image {
	margin-top: 0px;
	margin-left: 5px;
	display: block;
	width: 975px;	
	background-repeat: no-repeat;
	height: 480px;
}
.background_image img {
	margin-top: 60px;
}

.text {
	font-size: 15px;
	color: #555;
	line-height: 18px;
	font-weight: normal;
}

.text h1 {
	color: #3186a9;
	padding: 5px 0px 5px 0px;
}

.text a {
	font-weight: normal;
}



#SubmitQuote {
	float: right;
	background: #fdfdfd;
	-moz-box-shadow: 0px 0px 3px 1px #888;
	-webkit-box-shadow: 0px 0px 3px 1px #888;
	box-shadow: 0px 0px 3px 1px #666;
	text-align: center;
	position: absolute;
	right: 7px;
	top: 14px;
}

div#SubmitQuote a {
	color: #444;
	font-family: "myriad-pro-condensed","Arial Narrow",sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	padding: 0 5px;
	display: block;
	white-space: nowrap;
	padding: 8px 12px 8px 12px;
}
div#SubmitQuote a u {
	color: green;
}

div#SubmitQuote a:hover, div#SubmitQuote a:hover u {
	background: #1a77a2;
	color: #fff;
}


#BottomSubmitQuote {
	background: #fdfdfd;
	-moz-box-shadow: 2px 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 2px 1px #888;
	box-shadow: 2px 2px 2px 1px #888;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: solid #fff 2px;
	margin-left: -40px;
	margin-top: 40px;
	position: relative;
}

div#BottomSubmitQuote a {
	background: #fdfdfd;
	color: #444;
	font-family: "myriad-pro-condensed","Arial Narrow",sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	padding: 0 5px;
	display: block;
	width: 270px;
	white-space: nowrap;
	padding: 8px 12px 8px 12px;
	position: relative;
}
div#BottomSubmitQuote a u {
	color: green;
}

div#BottomSubmitQuote a:hover, div#BottomSubmitQuote a:hover u {
	color: #000;
}


table#PhoneEmailFooter {
	margin-left: -106px;
}