﻿

.menu_item {
	font-family: "myriad-pro-condensed","Arial Narrow",sans-serif;
	font-size: 20px;	
	text-decoration: none;
	color: #ffffff;	
	font-weight: normal;
	padding-top: 10px;
	text-align: center;
}

/* Home */
.menu_item_home a {
	float: left;
	display: block;
	width: 69px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/home_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_home.selected a, .menu_item_home a:hover {
	background-image: url('images/menu/home_on.jpg');
}

/* About Us */
.menu_item_about a {
	float: left;
	display: block;
	width: 92px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/about_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_about.Hovered a, .menu_item_about.selected a, .menu_item_about a:hover {
	background-image: url('images/menu/about_on.jpg');
}

/* Coverages */
.menu_item_coverages a {
	float: left;
	display: block;
	width: 101px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/coverages_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_coverages.Hovered a, .menu_item_coverages.selected a, .menu_item_coverages a:hover {
	background-image: url('images/menu/coverages_on.jpg');
}

/* Vehicles */
.menu_item_vehicle a {
	float: left;
	display: block;
	width: 89px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/vehicles_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_vehicle.Hovered a, .menu_item_vehicle.selected a, .menu_item_vehicle a:hover {
	background-image: url('images/menu/vehicles_on.jpg');
}

/* RV Nation */
.menu_item_rvnation a {
	float: left;
	display: block;
	width: 96px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/rv_nation_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_rvnation.selected a, .menu_item_rvnation a:hover {
	background-image: url('images/menu/rv_nation_on.jpg');
}

/* Request a Quote */
.menu_item_rfq a {
	float: left;
	display: block;
	width: 141px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/rfq_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_rfq.selected a, .menu_item_rfq a:hover {
	background-image: url('images/menu/rfq_on.jpg');
}

/* Claims */
.menu_item_claims a {
	float: left;
	display: block;
	width: 78px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/claims_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_claims.selected a, .menu_item_claims a:hover {
	background-image: url('images/menu/claims_on.jpg');
}

/* Contact Us */
.menu_item_contact a {
	float: left;
	display: block;
	width: 95px;
	height: 46px;
	text-decoration: none;
	background-image: url('images/menu/contactus_off.jpg');
	background-repeat: no-repeat;
}
.menu_item_contact.selected a, .menu_item_contact a:hover {
	background-image: url('images/menu/contactus_on.jpg');
}



/* SubMenus */
div.SubMenu {
	text-decoration: none;
	display: none;
	position: absolute;
	font-size: 12px;	
	text-decoration: none;
	color: #ffffff;	
	padding: 0px 0px 5px 0px;
	z-index:999;
	min-width:190px;	
	background: url('images/menu/dropdown_bottom.jpg') bottom no-repeat;
}
div.SubMenu ul {
	padding: 0px;
	list-style: none;
	margin: 0px;
	-webkit-padding-start: 0px;
}
div.SubMenu li a div {
	font-family: "myriad-pro","Arial",sans-serif;
	font-size: 12px;	
	font-weight: normal;
	text-decoration: none;
	color: #ffffff;	
	padding: 0px 0px 0px 17px;
}
div.SubMenu a {
	display:block;
	width:190px;
	height:22px;
	text-decoration: none;
	background-image: url('images/menu/dropdown_bg_off.jpg');	
	background-repeat:no-repeat;
	padding-top: 2px;
}
div.SubMenu a:hover {
	background-image: url('images/menu/dropdown_bg_on.jpg');	
	background-repeat:no-repeat;
}
