<%@ Master Language="C#" %>
<%@ Register TagPrefix="uc" TagName="AppMenu" Src="~/AppMenu.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <link rel="icon" type="image/jpg" href="<%= Application["AppPath"] %>/images/favicon.png" /> 
  <link rel="shortcut icon" href="<%= Application["AppPath"] %>/images/favicon.png" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />	

	<%--<script type="text/javascript" src="//use.typekit.net/dpl8smw.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/StyleSheet.css" />
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/newstyles.css" />
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/appmenu.css" />--%>
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/pikaday.css" />
	 <!--[if IE 6]> <link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/IE6.css" />	 <![endif]-->
	 <!--[if lte IE 8]> <link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/IE8.css" />	 <![endif]-->
     <link rel="stylesheet" type="text/css" href="CSS/normalize.css">
     <link rel="stylesheet" type="text/css" href="CSS/skeleton.css">
     <link rel="stylesheet" type="text/css" href="CSS/bluesky.css">
     <link rel="stylesheet" type="text/css" href="CSS/responsive.css">

	<script type="text/javascript" src="<%= Application["AppPath"] %>/css/iepngfix_tilebg.js"></script> 
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="<%= Application["AppPath"] %>/App.js"></script>
	<script type="text/javascript" src="<%= Application["AppPath"] %>/AppMenu.js"></script>
    <script type="text/javascript" src="<%= Application["AppPath"] %>/ResponsiveNav.js"></script>
    
    <script>(function () {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
            }
        })();
                window._fbq = window._fbq || [];
                window._fbq.push(['track', '6019985589356', { 'value': '0.00', 'currency': 'USD' }]);
    </script>

    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019985589356&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


    <!-- Google Knowledge Graph JSON markup -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "InsuranceAgency",
      "name": "Blue Sky RV Insurance",
      "description": "Specialty RV Insurance for avid RV and Motorhome enthusiasts",
      "url": "http://www.blueskyrvinsurance.com/",
      "sameAs" : "https://www.facebook.com/blueskyrvinsurance",
      "logo" : "http://www.blueskyrvinsurance.com/images/bluesky_logo.png",
      "email": "sales@blueskyrvinsurance.com",
      "telephone": "866-484&#8211;BLUE (2583)",
      "address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Copley, OH",
	    "postalCode": "44321",
	    "streetAddress": "202 Montrose West Avenue, Suite 200"
      },
      "branchOf":
      {
	    "@type": "FinancialService",
	    "url": "http://www.allstarfg.com/",
	    "name": "Allstar Financial Group"
      }
    }
    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Open+Sans:400italic,400,600,300,700,800:latin', 'Open+Sans+Condensed:300,700:latin'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
	</script>
	<asp:contentplaceholder id="head" runat="server" />


</head>
<body class="bluesky">
 <!-- Navigation -->
<section class="navigation">
    <div class="container">
        <%--<div class="row">
            <div class="logo-wrap">
                <a href="/AllStarMisc/AllstarCMS/bluesky/index.html"><img src="/images/bluesky_logo_header.png" class="u-max-full-width" alt="Blue Sky"></a>
            </div>
            <nav class="nav-collapse">
                <ul>
                    <li><a id="coverages" title="RV Insurance Coverages" href="/AllStarMisc/AllstarCMS/bluesky/coverages.html">coverages</a></li>
                    <li><a id="vehicles" title="Recreational Vehicles" href="/AllStarMisc/AllstarCMS/bluesky/vehicles.html">vehicles</a></li>
                    <li><a id="claims" title="RV Insurance Claims" href="/AllStarMisc/AllstarCMS/bluesky/claims.html">claims</a></li>
                    <li><a id="about" title="About Blue Sky RV Insurance" href="/AllStarMisc/AllstarCMS/bluesky/about.html">about us</a></li>
              	</ul>
                <ul>
                    <li><a id="contact" title="Contact Blue Sky RV Insurance" href="/AllStarMisc/AllstarCMS/bluesky/contact.html">contact us</a></li>
                    <!--<li><a href="https://www.myblueskyrv.com/" target="_blank">pay my bill</a></li>-->
                    <li><a id="quote" title="Blue Sky RV Insurance Quote" href="rv-insurance-quote-intro.aspx">get a quote</a></li>
                    <li id="facebook" title="Visit our Facebook page" class="facebook-header"><a href="https://www.facebook.com/blueskyrvinsurance" target="_blank"><img src="/images/facebook.png" class="u-max-full-width" alt="Facebook"/></a></li>
                    <li id="google" title="Visit out Google+ Page" class="facebook-header"><a href="https://profiles.google.com/blueskyrvinsurance" target="_blank"><img src="/images/Red-signin_Short_base_44dp.png" class="google_icon" alt="Google+"></a></li>
                </ul>
            </nav>
        </div>--%>
        <div class="row">
            <div class="logo-wrap">
                <a href="/bluesky/index.html"><img src="/images/bluesky_logo_header.png" class="u-max-full-width" alt="Blue Sky"></a>
            </div>
            <nav class="nav-collapse">
                <ul>
                    <li><a id="coverages" title="RV Insurance Coverages" href="/bluesky/coverages.html">coverages</a></li>
                    <li><a id="vehicles" title="Recreational Vehicles" href="/bluesky/vehicles.html">vehicles</a></li>
                    <li><a id="claims" title="RV Insurance Claims" href="/bluesky/claims.html">claims</a></li>
                    <li><a id="about" title="About Blue Sky RV Insurance" href="/bluesky/about.html">about us</a></li>
              	</ul>
                <ul>
                    <li><a id="contact" title="Contact Blue Sky RV Insurance" href="/bluesky/contact.html">contact us</a></li>
                    <!--<li><a href="https://www.myblueskyrv.com/" target="_blank">pay my bill</a></li>-->
                    <li><a id="quote" title="Blue Sky RV Insurance Quote" href="rv-insurance-quote-intro.aspx">get a quote</a></li>
                    <li id="facebook" title="Visit our Facebook page" class="facebook-header"><a href="https://www.facebook.com/blueskyrvinsurance" target="_blank"><img src="/images/facebook.png" class="u-max-full-width" alt="Facebook"/></a></li>
                    <li id="google" title="Visit out Google+ Page" class="facebook-header"><a href="https://profiles.google.com/blueskyrvinsurance" target="_blank"><img src="/images/Red-signin_Short_base_44dp.png" class="google_icon" alt="Google+"></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section class="full_background clouds_mountain scenic_background">
	<div class="bl_trans_bg">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h4>Blue Sky RV Insurance Quote</h4>
                    <p>The Blue Sky RV Insurance program is currently not available for vehicles registered in the following states: AL, AK, CT, DE, FL, HI, KY, MA, MD, ME, MS, NH, NY, RI, VT and WY. If your registration state is listed above please check back soon as we are continuing to expand and add new states to serve you. Coverage is also not available on stationary trailers or park model travel trailers that are registered or garaged in GA, LA, NC, NJ, SC, TX, and VA. </p>
                </div>
            </div>
        </div>
	</div>
</section>



    <section class="shadow about">
  	<div class="container">
          <form id="form1" runat="server">
		

              <!-- Main Content Area -->
			        <asp:contentplaceholder id="main" runat="server" />
          </form>
        </div>
    </section>


<footer>
	<div class="container">
    	<div class="row social">
            <div class="twelve columns">
            	<a href="https://profiles.google.com/blueskyrvinsurance" target="_blank"><img alt="Google+" class="google_icon" src="/images/google_icon.png"></a>
            	<a href="https://www.facebook.com/blueskyrvinsurance" target="_blank"><img alt="Facebook" class="facebook_icon" src="/images/facebook_icon.png"></a>
            </div>
        </div>
        <hr>
    	<%--<div class="row">
        	<div class="two columns headline_center">
        		<a href="/AllStarMisc/AllstarCMS/bluesky/index.html"><img alt="Blue Sky" class="u-max-full-width" src="/images/bluesky_logo_footer.png"></a>
            </div>
    		<div class="ten columns">
        		<p>Not all coverages are available in all states. Coverage descriptions are just summary descriptions of the coverage; they are not intended to replace the policy that is provided to you. Coverages, limits and vehicle eligibility can be different from state to state.</p>
                <p><a href="/AllStarMisc/AllstarCMS/bluesky/privacy_policy.html">Privacy Policy</a></p>
      		</div>
        </div>--%>
        <div class="row">
        	<div class="two columns headline_center">
        		<a href="/bluesky/index.html"><img alt="Blue Sky" class="u-max-full-width" src="/images/bluesky_logo_footer.png"></a>
            </div>
    		<div class="ten columns">
        		<p>Not all coverages are available in all states. Coverage descriptions are just summary descriptions of the coverage; they are not intended to replace the policy that is provided to you. Coverages, limits and vehicle eligibility can be different from state to state.</p>
                <p><a href="/bluesky/privacy_policy.html">Privacy Policy</a></p>
      		</div>
        </div>
    </div>
</footer>
    <script type="text/javascript">
        var navigation = responsiveNav(".nav-collapse", {
            animate: true,                    // Boolean: Use CSS3 transitions, true or false
            transition: 284,                  // Integer: Speed of the transition, in milliseconds
            label: " ",                    // String: Label for the navigation toggle
            insert: "before",                  // String: Insert the toggle before or after the navigation
            customToggle: "",                 // Selector: Specify the ID of a custom toggle
            closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
            openPos: "relative",              // String: Position of the opened nav, relative or static
            navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
            navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
            jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
            init: function () { },               // Function: Init callback
            open: function () { },               // Function: Open callback
            close: function () { }               // Function: Close callback
        });
    </script>
	<script>
	    (function (i, s, o, g, r, a, m) {
	        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
	            (i[r].q = i[r].q || []).push(arguments)
	        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	    ga('create', 'UA-6620800-1', 'auto');
	    ga('require', 'displayfeatures');
	    ga('send', 'pageview');

    </script>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1026447193;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1026447193/?value=0&amp;guid=ON&amp;script=0"/></div>
    </noscript>
</body>
</html>

